.container {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Distributes space between the containers */
}

.box {
  flex: 1; /* Each box takes up equal space */
  margin: 10px; /* Adds space around each box */
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("imgs/layer-170971_1280.jpg");
  background-size: cover;
}
img {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table, th, td {
  border: 1px solid;
}